@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Josefin+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Sans+Indic+Siyaq+Numbers&family=Outfit:wght@200;300;400;500;600;700;800;900;1000&family=Poppins&display=swap');
body {
  background: linear-gradient(145deg, rgba(200, 255, 240, 1), rgba(220, 255, 250, 1), rgba(230, 255, 255, 1));
}
.heading {
  color: #333;
  font-family: 'Outfit', Sans-Serif;
  font-size: 3.5rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.img {
  transform: translateY(-5px);
}
.sub {
  color: #333;
  font-size: 1rem;
  font-family: 'Outfit', Sans-Serif;
  text-align: center;
  width: 100%;
}
.intro {
  font-family: 'Mulish', Sans-Serif;
  width: min(100%, 60ch);
  font-size: 1rem;
  color: #333;
  text-align: center;
}
.kolom {
  width: min(100%, 800px);
  background: linear-gradient(145deg, rgba(245, 255, 255, 1), rgba(250, 255, 250, 1), rgba(240, 250, 255, 1));
  border-radius: 10px;
  box-shadow: 0 0 1.5rem rgba(150, 150, 150, .4);
}
.prompt {
  width: 100%;
  outline: none;
  border: 1px solid rgba(150, 150, 150, .4);
  border-radius: 10px;
  background-color: white;
  font-size: .8rem;
  font-family: Monospace;
  color: #333;
}
.sub2 {
  color: #333;
  font-family: 'Outfit', Sans-Serif;
  font-size: .9rem;
  color: #666;
}
.button {
  width: 100%;
  background-color: rgba(0, 200, 150, 1);
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-family: Monospace;
  text-shadow: 0 0 .5rem rgba(150, 150, 150, .4);
  box-shadow: 0 0 .5rem rgba(150, 150, 150, .4);
}
.pertanyaan {
  width: 100%;
  background-color: rgba(230, 255, 250, 1);
  border: none;
  border-radius: 10px;
  color: #333;
  font-size: .9rem;
  font-family: 'Outfit', Sans-Serif;
  text-shadow: 0 0 .5rem rgba(150, 150, 150, .4);
  box-shadow: 0 0 .5rem rgba(150, 150, 150, .4);
}
pre {
  white-space: pre-wrap;
}
.cod {
  box-shadow: 0 0 .5rem rgba(150, 150, 150, .4);
  background-color: #444;
  width: 100%;
  padding: .2rem .5rem;
  margin: .5rem 0;
  border-radius: 5px;
}
.code {
  color: rgba(150, 150, 150, 1);
  font-size: .8rem;
}